################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/graphql-angular/.vs
/graphql-node-ts/prisma/dev.db
