<h3 class="w-100 d-flex justify-content-center my-3">View Events List</h3>
<div class="layout">
    <div class="card col-10 mx-3">
        <div class="d-flex justify-content-between w-100 mb-3">
            <div class="mt-2">
                <input type="text" class="search" [(ngModel)]="filterText">
                <button class="btn btn-primary mx-2 " (click)="search()">Search</button>
            </div>
            <button class="view-details btn-success btn mt-2" [routerLink]="['/event/create']">Create New Event</button>
        </div>
        <ngx-datatable class="material expandable" [columnMode]="'flex'" 
         [rowHeight]="50" [rows]="rows" [count]="totalCount" [limit]="10" [footerHeight]="50" #myTable
        [externalPaging]="true"   (page)="setPage($event)">
            <ngx-datatable-column [flexGrow]="1" [name]="'ID'" [sortable]="false" prop="id" ></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="2" [name]="'Title'" [sortable]="false" prop="body" ></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [name]="'Date'" [sortable]="false" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.date | date}}
            </ng-template>
        </ngx-datatable-column>
            <ngx-datatable-column *ngIf="haveDetails" [flexGrow]="4" [name]="'Details'" [sortable]="false"
                prop="details" ></ngx-datatable-column>
            <!-- <ngx-datatable-column [flexGrow]="1" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="view-details btn btn-info btn-sm" (click)="viewDetails(row?.id)">View Event</button>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column [flexGrow]="2" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <!-- <button class="view-details btn btn-info btn-sm" (click)="viewDetails(row?.id)">View Event</button> -->
                    <button class="btn btn-primary mx-1" (click)="update(row?.id)">Edit Event</button>
                    <button class="btn btn-secondary" (click)="toggleExpandRow(row)" *ngIf="haveAtendees">Show Attendees</button>
                    <button class="btn btn-secondary" (click)="toggleExpandRow(row)" *ngIf="haveSessions">Show Sessions</button>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="view-details btn btn-primary btn-sm" (click)="createSession(row?.id)">Create Session</button>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- <ngx-datatable-column *ngIf="haveAtendees || haveSessions" [flexGrow]="1" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <button class="btn btn-secondary" (click)="toggleExpandRow(row)" *ngIf="haveAtendees">Show Attendees</button>
                    <button class="btn btn-secondary" (click)="toggleExpandRow(row)" *ngIf="haveSessions">Show Sessions</button>
                </ng-template>
            </ngx-datatable-column> -->
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow >
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="d-flex flex-column" *ngIf="row.sessions && haveSessions">
                        <span class="mb-2"><strong>Available Sessions</strong></span>
                        <div class="details" *ngFor="let session of row.sessions">
                            <div class="d-flex flex-column">
                                <span><strong>title</strong></span>
                                <span>{{session.title}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span><strong>Start Time</strong></span>
                                <span>{{session.startTime| date}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span><strong>End Time</strong></span>
                                <span>{{session.endTime| date}}</span>
                            </div>
                        </div>
                        <span *ngIf="!row.sessions.length&& haveSessions">There is No Sessions</span>
                    </div>
                    <span class="mb-2" *ngIf="!haveSessions"><strong>Attendees</strong></span>
                    <div  *ngIf="row.attendees && haveAtendees">
                            <div  class="details" *ngFor="let attendee of row.attendees ">
                                <div class="d-flex flex-column">
                                    <span><strong>name</strong></span>
                                    <span>{{attendee.name}}</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <span><strong>Email</strong></span>
                                    <span>{{attendee.email}}</span>
                                </div>
                            </div>
                            <span *ngIf="!row.attendees.length">There is No Attendees</span>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>

        </ngx-datatable>
    </div>
    <div class="col-2">
        <div class="d-flex flex-column">
            <div class="my-3 ">
                <span class="mx-2"><strong>Display options</strong></span>
                <div class="graph-options">
                    <span class="options ">
                        <input type="checkbox" class="mx-1" [(ngModel)]="haveDetails" (change)="displayDetails($event)"> Display Details
                    </span>
                    <span class="options ">
                        <input type="checkbox" class="mx-1" [(ngModel)]="haveSessions" (change)="displaySessions($event)"> Display Sessions
                    </span>
                    <span class="options ">
                        <input type="checkbox" class="mx-1" [(ngModel)]="haveAtendees" (change)="displayAttendees($event)"> Display Attendees
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="my-3">
                <span class="mx-2"><strong>Network options</strong></span>
                <div class="graph-options">
                    <span class="options">
                        <input type="radio" name="network" value="cache-first" [(ngModel)]="cacheFirst" (change)="getSelectedNetwork($event)"> Cache First
                    </span>
                    <span class="options">
                        <input type="radio" name="network" value="cache-only" [(ngModel)]="cacheOnly" (change)="getSelectedNetwork($event)"> Cache Only
                    </span>
                    <span class="options">
                        <input type="radio" name="network" value="cache-and-network" [(ngModel)]="cacheAndNetwork" (change)="getSelectedNetwork($event)"> Cache And Network
                    </span>
                    <span class="options">
                        <input type="radio" name="network" value="network-only" [(ngModel)]="networkOnly" (change)="getSelectedNetwork($event)"> Network Only
                    </span>
                    <span class="options">
                        <input type="radio" name="network" value="no-cache" [(ngModel)]="noCache" (change)="getSelectedNetwork($event)"> No Cache
                    </span>
                    <!-- <span class="options">
                        <input type="radio" name="network" value="standby" [(ngModel)]="standby" (change)="getSelectedNetwork($event)"> Standby
                    </span> -->
                </div>
            </div>
        </div>
        <div class="my-2">
            <span class="mx-2"><strong>Update options</strong></span>
            <div class="mt-2 update-options">
                <button class="btn btn-warning"  (click)="Polling()">{{isPolling?'Cancel Update': 'Update Every 1s'}} </button>
                <button class="btn btn-info" (click)="refresh()">Update Now</button>
            </div>
        </div>
    </div>
    <!-- <div class="w-100 d-flex justify-content-between mt-3">
        <button class="btn btn-danger" (click)="previous()" [disabled]="skip<10">Previous</button>
        <button class="btn btn-success" (click)="next()">Next</button>
    </div> -->
</div>
