:host ::ng-deep{
    .details{
        padding-left: 35px;
        display: flex;
        gap: 75px;
        margin-bottom: 15px;
        &:not(:last-child){
            // border-bottom: unset;
            border-bottom: 1px solid #8080804a;
        }
    }
    .card{
        width: 80%;
        border: unset;
    }
    .search{
        height: 40px;
        width: 300px;
        border: 1px solid #8080804a;
        outline: unset;
        border-radius: 15px;
        padding: 10px;
    }
    .update-options{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .graph-options{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        gap: 15px;
        margin-top: 10px;
        border-bottom: 1px solid #8080806b;
        padding-bottom: 26px;
        .options{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    .ngx-datatable.material {
        padding-bottom: 16px;
    }
    .ngx-datatable.material .datatable-header {
        border-bottom: unset;
        height: 40px !important;

    }
    .datatable-header-cell-template-wrap {
        font-size: 16px;
    }
    .event-details{
        white-space: pre-wrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important; /* number of lines to show */
                line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
    }
    .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell, .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-group-cell{
        white-space: pre-wrap !important;
    }
    datatable-body-row{
        height: 55px !important;
    }
    datatable-body-cell{
        height: 55px !important;
    }
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
        background-color: unset !important;
    }
    .datatable-row-detail{
        height: auto !important;
    }
    .layout{
        display: flex;
        gap: 10px;
    }
}