<span>View Feed List</span>
<div class="card">
        <ngx-datatable class="material" [rows]="rows">
                <ngx-datatable-column [width]="200"  [name]="'ID'" prop="id"></ngx-datatable-column>
                <ngx-datatable-column [width]="350"  [name]="'URL'" prop="url"></ngx-datatable-column>
                <ngx-datatable-column [width]="300" [name]="'Description'" prop="description"></ngx-datatable-column>
                <ngx-datatable-column [width]="300" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <button class="view-details" (click)="viewDetails(row?.id)">View Details</button>
                        </ng-template>
                </ngx-datatable-column>
                
        </ngx-datatable>
</div>
                
                <!-- [columnMode]="ColumnMode?.force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [externalPaging]="true"
                [count]="page?.totalElements"
                [offset]="page?.pageNumber"
                [limit]="page?.size"
                (page)="setPage($event)" -->
