<div class="card p-5 m-5 w-50 mx-auto border-0 shadow-sm bg-light">
  <p><strong *ngIf="isSubmitMode">Create feed inputs.</strong><strong *ngIf="isUpdateMode">Update feed
      inputs.</strong><strong *ngIf="isViewMode">View feed details.</strong></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="url" class="form-label">URL</label>
      <input type="text" class="form-control" formControlName="url" id="url">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>

    <div class="card p-2 bg-light mb-3" *ngIf="isViewMode && feedComments">
      <p>Comments</p>
      <ul>
        <li class="p-1" *ngFor="let comment of feedComments">{{comment.body}}</li>
      </ul>
    </div>

    <div class="d-flex gap-2">
      <button *ngIf="!isViewMode" type="submit" class="btn btn-success"><span *ngIf="isSubmitMode">Create</span> <span
          *ngIf="isUpdateMode">update</span></button>
      <button class="btn btn btn-primary" routerLink="/"><span *ngIf="!isViewMode">Cancel</span> <span
          *ngIf="isViewMode">Back to feeds</span> </button>
    </div>

  </form>
  <div *ngIf="errorMessage" class="alert alert-danger w-75 mt-5" role="alert">
    {{errorMessage}}
  </div>
</div>
