<div class="card p-5 m-5 w-50 mx-auto border-0 shadow-sm bg-light">
  <p><strong *ngIf="!isUpdateMode">Create Event.</strong><strong *ngIf="isUpdateMode">Update Event.</strong></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="datetime-local" class="form-control" formControlName="date" id="date">
    </div>
    <div class="mb-3">
      <label for="details" class="form-label">Details</label>
      <textarea class="form-control" formControlName="details" id="details" rows="3"></textarea>
    </div>
  </form>

  <div class="row">
    <button type="button" class="btn btn-info" (click)="addSession()">Add Session</button>
    <div class="col-6 session-card" *ngFor="let session of sessions;index as i">
      <div class="actions">
        <button class="btn btn-outline-danger" (click)="deleteSession(i,session.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="startSession(session.id)">Start Session</button>
      </div>
      <graphql-angular-create-update-session #session [isComponent]="true" [eventId]="eventId"
        [session]="session"></graphql-angular-create-update-session>
    </div>
    <div class="d-flex gap-2">
      <!-- <button type="button" class="btn btn-success" (click)="submitSessionForms()">Save</button> -->

      <div class="d-flex my-2 gap-3">
        <button type="submit" class="btn btn-success" (click)="onSubmit()"><span *ngIf="isUpdateMode">Update</span><span
            *ngIf="!isUpdateMode">Create</span> </button>
        <button type="button" class="btn btn btn-primary" routerLink="/">Cancel</button>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary mb-3" (click)="addSession()">Add Session</button>
    <button type="submit" class="btn btn-success" (click)="submitSessionForms()">Save</button> -->
  </div>

</div>
